<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }
        h4 {
            color: #333;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        .message {
            margin-top: 20px;
            padding: 10px;
            background-color: #fff;
            border-radius: 5px;
        }
        p {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="message">
        <h2>Dobrý deň, <strong><%= user.firstName %></strong> <%= user.lastName %></h2>
        <p>Objednávka <strong>#<%= id %></strong> je na cestě k Vám.</p>
        <p>Vašu objednávku môžete sledovať: <a href="<%= link %>">Klikněte zde pro sledování</a></p>
        <p>Děkujeme za nákup.</p>
    </div>
</body>
</html>
